body{
    background-color: black;
    margin: 40px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
}

.container{
    max-width: 600px;
    margin: 50px 0 0 50px;
    color: white;
    font-family: sans-serif;
}

.count-label{
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

h1{
    font-size: 32px;
    margin-bottom: 10px;
}

p{
    font-size: 18px;
}

.error{
    color: red;
    font: 16px;
    margin-top: 10px;
}

.buttons{
    margin-top: 20px;
}

button{
    background-color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: lightgray;
}
